@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #000000 !important;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
