/* Custom Utility for Mobile */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Ensure the background is pitch black */
html, body {
  background-color: #000000 !important;
  overscroll-behavior-y: contain; /* Prevents pull-to-refresh inside modal */
}
